<a href="https://colab.research.google.com/github/20A31A0504/TechnicalTrainningDay2/blob/main/Technical_Training_Day_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
email="raseeda2020@gmail.com"
pwd=12345
otp=5678
iemail=input("Enter the email:")
ipwd=int(input("Enter the password:"))
iotp=int(input("Enter otp:"))
if(email==iemail and pwd==ipwd):
    print("Login successfully:")
    iotp=int(input("Enter otp:"))
    if(otp==iotp):
      print("your amazon order placed successfully")
    else:
      print("order cancelled due to wrong otp")
elif(email!=iemail and pwd==ipwd):
    print("Login failed due to wrong email")
elif(email==iemail and pwd!=ipwd):
    print("Login failed due to wrong password")
else:
    print("login failed due to wrong email and password")

Enter the email:raseeda2020@gmail.com
Enter the password:12345
Enter otp5678
Login successfully:
order placed successfully

In [ ]:
a=5
b=True
if(1==b):
    print("yes")
else:
    print("No")

yes

In [ ]:
a=5
b=5.0
if(a==b):
    print("yes")
else:
    print("No")

yes

In [ ]:
n=int(input("enter the input number:"))
if(n%7==0):
    print("Given number is divisible by 7")
else:
    print("Given number is not divisible by 7")

enter the input number:-23
Given number is not divisible by 7

In [ ]:
r="kusuma"
print("y" in r)
print("y" not in r)

False
True

In [ ]:
for i in range(10,0,-1):
  print(i,end=" ")

10 9 8 7 6 5 4 3 2 1

In [ ]:
for i in range(chr(97),chr(122)):
  print(i)

TypeError: ignored

In [ ]:
#chr is used to convert unicode values
for i in range(97,122):
  print(chr(i),end=" ")

a b c d e f g h i j k l m n o p q r s t u v w x y

In [ ]:
for i in range(65,91):
  if (i==65 or i==69 or i==73 or i==79 or i==85):
    print(chr(i),end=" ")

A E I O U

In [ ]:
for i in range(65,91):
  if (i!=65 and i!=69 and i!=73 and i!=79 and i!=85):
    print(chr(i),end=" ")

B C D F G H J K L M N P Q R S T V W X Y Z

In [7]:
days=int(input("Enter number of days plan:"))
if(days>84 ):
  print("the plan was expired please reacharge immediately")
elif(days<=0):
  print("invalid data plan" )
else:
  print("your plan will expire in",84-days)
  calls=int(input("enter number of calls used:"))
  msg=int(input("enter number of messages used on that day:"))
  data=float(input("enter data used on that day"))
  if(calls<=3000 and calls>=0):
    print(3000-calls,"calls yet to be used")
  else:
    print("your call can't be connect")
  if(msg<=100 and msg>=0):
    print(100-msg, "messages yet to be used")
  else:
    print("your msg can't be sent")
  if(data<=2.0 and data>=0):
    print(2.0-data, "data is left for today")
  else:
    print("your data limit is exceeded so that your data speed is low")

Enter number of days plan:10
your plan will expire in 74
enter number of calls used:-29
enter number of messages used on that day:389
enter data used on that day1
your call can't be connect
your msg can't be sent
1.0 data is left for today

In [5]:
for i in range(1,151):
  if(i%10==0):
    print(i)

10
20
30
40
50
60
70
80
90
100
110
120
130
140
150

In [6]:
for i in range(1,6,2):#print numbers ending with 5 from 1 to 30
  print(i*5)

5
15
25

In [9]:
for i in range(-10,-1,2):
  print(i)

-10
-8
-6
-4
-2

In [10]:
for i in range(1,6):
  for j in range(1,i+1):
    print("*",end=" ")
  print("\n")

*

* *

* * *

* * * *

* * * * *

In [28]:
for i in range(1,6):
  for j in range(1,i+1):
    print(j,end=" ")
  print("\n")

1

1 2

1 2 3

1 2 3 4

1 2 3 4 5

In [13]:
for i in range(97,123):
  for j in range(97,i+1):
    print(chr(i),end=" ")
  print("\n")

a

b b

c c c

d d d d

e e e e e

f f f f f f

g g g g g g g

h h h h h h h h

i i i i i i i i i

j j j j j j j j j j

k k k k k k k k k k k

l l l l l l l l l l l l

m m m m m m m m m m m m m

n n n n n n n n n n n n n n

o o o o o o o o o o o o o o o

p p p p p p p p p p p p p p p p

q q q q q q q q q q q q q q q q q

r r r r r r r r r r r r r r r r r r

s s s s s s s s s s s s s s s s s s s

t t t t t t t t t t t t t t t t t t t t

u u u u u u u u u u u u u u u u u u u u u

v v v v v v v v v v v v v v v v v v v v v v

w w w w w w w w w w w w w w w w w w w w w w w

x x x x x x x x x x x x x x x x x x x x x x x x

y y y y y y y y y y y y y y y y y y y y y y y y y

z z z z z z z z z z z z z z z z z z z z z z z z z z

In [19]:
for i in range(97,123,2):
  for j in range(97,i+1,2):
    print(chr(i),end=" ")
  print("\n")

a

c c

e e e

g g g g

i i i i i

k k k k k k

m m m m m m m

o o o o o o o o

q q q q q q q q q

s s s s s s s s s s

u u u u u u u u u u u

w w w w w w w w w w w w

y y y y y y y y y y y y y

In [22]:
for i in range(1,11):
  print(i,"* 10 =",i*10)

1 * 10 = 10
2 * 10 = 20
3 * 10 = 30
4 * 10 = 40
5 * 10 = 50
6 * 10 = 60
7 * 10 = 70
8 * 10 = 80
9 * 10 = 90
10 * 10 = 100

In [30]:
i=1

while(i<=5):
  j=1
  while(j<=i):
    print(j,end=" ")
    j+=1
  print("\n")
  i+=1

1

1 2

1 2 3

1 2 3 4

1 2 3 4 5