<a href="https://colab.research.google.com/github/20A31A0504/TechnicalTrainning-phase-1/blob/main/Technical_Training_Day5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#evaluation of single statement of in conditional statement is called simple statement
#if it is having multiple statements in the condition statement is called compound statement
#functions in python will accept both type of statements
#logical evaluation of a program is step by step evaluation of program
#in function the logical evaluation changes
#caller(number)-callie(number) should be matched
#types of functions
""" 1.No Arg,No return
2.Arg,return
3.arg,no return
4.no arg,return"""

' 1.No Arg,No return\n2.Arg,return\n3.arg,no return\n4.no arg,return'

In [ ]:
#actual parameters, formal parameters
#interview question- which is the first line to execute in this code
def total(a,b):
   result=a+b
   print("function result is",result)
def diff(a,b):
  result2=a-b
  print("function result2 is",result2)
def mul(a,b):
  result3=a*b
  print("function result3 is",result3)
def div(a,b):
  result4=a/b
  print("function result4 is",result4)
a=int(input("enter the a value:"))
b=int(input("enter the b value:"))
total(a,b)
diff(a,b)
mul(a,b)
div(a,b)

enter the a value:20
enter the b value:10
function result is 30
function result2 is 10
function result3 is 200
function result4 is 2.0

In [ ]:
#navigational programs starts from while loop and ends with class
def dr(money):
  print("give raseeda the sum of ",money)
money=50
dr(money)

give raseeda the sum of  50

In [ ]:
def dr(money):
  print("give raseeda the sum of "+money)
money=50
dr(money)

TypeError: ignored

In [ ]:
money=50
print("give raseeda the sum of "+money)

TypeError: ignored

In [ ]:
def dr(money):
  print("give raseeda the sum of ",money)

dr(50)

give raseeda the sum of  50

In [ ]:
def dr(money):
  print("give raseeda the sum of ",money)

dr(5*10)

give raseeda the sum of  50

In [ ]:
def dr(money):
  print("give raseeda the sum of ",money)

dr("fifty Rupees")

give raseeda the sum of  fifty Rupees

In [ ]:
#on-shore->client(US)
#off-shore-> labour(Indian/chinese)
#Ex:flipcart
#search-Engines works on JSON(search iphone 13)
#visual pictures(visual studous->UI/UX)(after searching the product we will have the image of product)
#dashboard ->React/SQL/CSS(ADD/buy)
#product description-> JAVA,NODE.JS
#Cconnecting to bank->Dynamic programming and Data Structures(after clicking to buy product)

In [ ]:
var="Raseeda"
def show():
  global var1
  var1="good girl"
  print('in function var is',var1)
show()
print("out side function ",var1)
print("variable is var",var)

in function var is good girl
out side function  good girl
variable is var Raseeda

In [ ]:
def outf():
  var=10
  def innf():
    var=20
    print("inner var",var)
  innf()
  print("outer var",var)
outf()

inner var 20
outer var 10

In [ ]:
#write a program  with a user defined function which returns an integer value to the caller
def cube(x):

  return x**3
x=int(input())
y=cube(x)
print("y value is",y)

3
y value is 27

In [ ]:
#write a program to add six user difined numbers and return the value to the main program. in 8,6,4,2,10,0
def ad(l,m,n,o,p,q):
  print(l+m+n+o+p+q)

l,m,n,o,p,q=8,6,4,2,10,0
ad(l,m,n,o,p,q)

30

In [ ]:
def display(str1):
  print(str1)
str1="hi"
display(str1)

hi

In [ ]:
def display(name, age):
  print("name",name)
  print("Age",age)

In [ ]:
#write a program to print the fibinacii series using recursion with funtion till 7 terms 1,1,2,3,5,8,13
def fib(n):
  if n<2:
    return 1
  else:
    return(fib(n-1)+fib(n-2))
n=int(input())
for i in range(n):
  print("fibonacci(",i,")",fib(i))

6
fibonacci( 0 ) 1
fibonacci( 1 ) 1
fibonacci( 2 ) 2
fibonacci( 3 ) 3
fibonacci( 4 ) 5
fibonacci( 5 ) 8