<a href="https://colab.research.google.com/github/20A31A0504/TechnicalTrainning-phase-1/blob/main/TechnicalTraining_Day_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=18
b=23
a=a+b
b=a-b
a=a-b
print(a)
print(b)

23
18

In [ ]:
a=2
b=3
a=a*b
b=a/b
a=a/b
print(a)
print(b)

3.0
2.0

In [ ]:
a=2
b=3
a=a^b
b=a*0.5
a=a

0.25
0.5

In [ ]:
""" Numbers 
1.Amstrong Number,prime numbers,Krishna Murthy's number/strong number,Automorphic number,Sad number,HAppy number,Magic number,Harshed number,Liven's number"""

In [ ]:
"""pre-defined functions
1.len
2.+ for concatnation
3.min,max
4.sorted
5.repitition*
6.count
7.del
8.sum"

In [ ]:
#Given a maximum
num=input()
print(int(num,17))

1A
27

In [ ]:
""" patterns
symmetric, equileteral, diamond, tousers, betterfly,x diagnol,hollow right angle triangle,hollow diamond pattern,pascals triangle,lexiographical pattern"""

In [ ]:
l=[-2,34,-24,324,53,2,1]
print(sorted(l))

[-24, -2, 1, 2, 34, 53, 324]

In [ ]:
#"."operator is access granter to the list,"->"in c language
num=[1,2,45,9]
num.append(0)
print(num)
print(num.count(3))

[1, 2, 45, 9, 0]
0

In [ ]:
wa=[6,4,87,454,8,9,5]
print(wa.index(8))
wa.insert(4,23)

wa.remove(9)
wa.reverse()
print(wa)

4
[5, 8, 23, 454, 87, 4, 6]

In [ ]:
#Amstrong number check for variable length input
n=int(input())
l=len(str(n))
n=int(n)
m=n
s=0
while(n>0):
  r=n%10
  s=s+pow(r,l)
  n=n//10
if(s==m):
  print("given number is amstrong")
else:
  print('not an amstron')

54748
given number is amstrong

In [ ]:
#write a python program to make a list of cubes till the value n,in=n=10,ot=[0,1,8,27,......1000]
n=int(input())
l=[]
for i in range(n+1):
  l.append(i*i*i)
print(l)

10
[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [ ]:
cubes=[(i**3) for i in range(11)]
print(cubes)
#print([(i**3) for i in range(11)]) can also gives the same output

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [ ]:
#write a python program to find the absolute value of the difference in between even and odd digits of a given number. in 1,1223 2,4567 3,123456789
n=int(input())# n=[int(d) for d in str(input("Enter number:"))]
l=[]
while(n>0):
  l.append(n%10)
  n=n//10
es=0
os=0
for i in range(len(l)):
  if(l[i]%2==0):
    es+=l[i]
  else:
    os+=l[i]
print(abs(es-os))

123456789
5

In [ ]:
#geometric series is a combination of different pattern of series
#1,1,2,3,4,9.8,27,16,81,32.........
term=int(input("enter the term"))
if term%2==0:
  term=term//2
  print(3**(term-1))
else:
  term=term//2+1
  print(2**(term-1))

enter the term16
2187

In [ ]:
#0,0,7,6,14,12,21,18,24........
term=int(input("enter the term:"))
if term%2==0:
  term=term//2
  print(6*(term-1))
else:
  term=term//2+1
  print(7*(term-1))

enter the term:13
42

In [ ]:
val=int(input("enter the number:"))
x=0
y=0
for i in range(1,val+1):
  if(i%2!=0):
    x=x+7
  else:
    y=y+6
if(val%2!=0):
  print('{} term in the program is {}'.format(val,x-7))
else:
  print('{} term in the program is {}'.format(val,y-6))

enter the number:13
13 term in the program is 42